* {
  box-sizing: border-box;
}

body {
  text-align: left;
  font-family: Karla, sans-serif;
  line-height: 1.75rem;
  margin: 0 auto;
  letter-spacing: 0.25px;
}

.container {
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 45px;
  margin-top: 40px;
}

h1 {
  font-size: 3rem;
  letter-spacing: 3.75px;
  text-align: center;
}

h2 {
  margin-top: 1.5px;
  font-size: 1.14rem;
  margin-left: 1px;
}

p {
  color: #5f5f5f;
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  flex-basis: 100%;
}

.column-one-half {
  flex-basis: 50%;
}

.center-align {
  text-align: center;
}

button {
  background-color: white;
  color: #d14c45;
  height: 47px;
  width: 220px;
  border: 2.5px solid #d14c45;
  font-weight: 550;
  font-size: 17px;
  margin-top: 30px;
}

.column-80p {
  margin-top: 35px;
}
